@import 'bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss';
$default-width: 1170px;

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body > div {
  min-height: 100%;
  position: relative;
}

.notorious-rgb-container {
  width: $default-width;
  background-color: #F4F4F4;
  margin: auto;
  border-radius: 5px;
}

.jumbotron {
  z-index: 1;
  text-align: center;
  background-color: #C3C3C3;
}

.converter-panel {
  margin-top: 60px;
}

.rgb {
  margin: 0 auto;
  width: 360px;
  font-size: 0;
}

.color-input {
  display: inline-block;
  width: 120px;
  font-size: 24px;

  input {
    display: block;
    height: 80px;
    width: 80px;
    border-radius: 5px;
    font-size: 24px;
    text-align: center;
    margin: auto;
  }

  label {
    display: block;
    text-align: center;
  }
}

.hex {
  font-size: 24px;
  margin: 30px auto;
  width: 200px;

  .hex-color-input {
    text-align: center;
  }

  input {
    display: block;
    height: 80px;
    width: 200px;
    border-radius: 5px;
    font-size: 24px;
    text-align: center;
    margin: auto;
  }

  label {
    text-align: center;
  }
}

.swatch-panel {
  margin: 20px auto;
  .swatch {
    height: 200px;
    width: 200px;
    border: 1px solid #C4C4C4;
    border-radius: 5px;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  width: $default-width;
  height: 50px;
  text-align: center;
  padding: 10px;
  border-top: 1px solid #E7E7E7;

  a {
    text-decoration: none;
    color: green;
  }
}


.rgb {
}
