@import 'bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap';
$default-width: 940px;

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body > div {
  height: 100%;
}

.notorious-rgb-container {
  min-height: 100%;
  min-width: 100%;
  padding: 40px 0;

  transition: background-color 0.5s;
  font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
  text-align: center;
}

.footer {
  width: $default-width;
  height: 50px;
  padding: 10px;
  border-top: 1px solid #E7E7E7;

  a {
    text-decoration: none;
    color: green;
  }
}

.color-converter-panel {
  width: $default-width;
  height: 100%;
  margin: 0 auto;
  background-color: white;

  .jumbotron {
    background-color: inherit;
    margin-bottom: 0;

    .left-right-arrow {
      top: 10px;
    }
  }

  .instructions-body {
    padding: 20px;
    border: 2px dashed black;
    border-width: 2px 0;
    text-align: left;
    font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
    font-family: ‘Lucida Console’, Monaco, monospace;
  }
}

.notorious-rbg {
  background-image: url("images/notoriousRBG.png");
  background-size: 250px 375px;
  background-repeat: repeat;
}

.converter-panel {
  margin-top: 60px;
  font-family: ‘Lucida Console’, Monaco, monospace;

  .rgb {
    margin: 0 auto;
    width: 360px;
    font-size: 0;
  }

  .color-input, .hex {
    font-size: 24px;

    input {
      display: block;
      height: 80px;
      border-radius: 5px;
      text-align: center;
      margin: auto;
    }
  }

  .color-input {
    display: inline-block;
    width: 120px;

    input {
      width: 80px;
    }
  }

  .hex {
    margin: 30px auto;
    width: 200px;

    input {
      width: 200px;
    }
  }

  .swatch-panel {
    margin: 20px auto;
    .swatch {
      height: 200px;
      width: 200px;
      border: 1px solid #C4C4C4;
      border-radius: 5px;
    }
  }
}
