@import 'bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap';
$default-width: 940px;

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body > div {
  min-height: 100%;
  position: relative;
}

.notorious-rgb-container {
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  transition: background-color 0.5s;
  font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
}

.footer {
  position: absolute;
  bottom: 0;
  width: $default-width;
  height: 50px;
  text-align: center;
  padding: 10px;
  border-top: 1px solid #E7E7E7;

  a {
    text-decoration: none;
    color: green;
  }
}

.color-converter-panel {
  width: $default-width;
  margin: 40px auto;
  background-color: white;
  position:absolute;
  bottom: 50px;
  left:0;
  right:0;
  top:0;

  .jumbotron {
    text-align: center;
    background-color: inherit;

    .left-right-arrow {
      top: 10px;
    }
  }

  .instructions-body {
    padding: 20px;
    border: 2px dashed black;
    border-width: 2px 0;
    font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
    font-family: ‘Lucida Console’, Monaco, monospace;
  }
}

.notorious-rbg {
  background-image: url("images/notoriousRBG.png");
  background-size: 250px 375px;
  background-repeat: repeat;
}



.converter-panel {
  margin-top: 60px;
  font-family: ‘Lucida Console’, Monaco, monospace;
}

.rgb {
  margin: 0 auto;
  width: 360px;
  font-size: 0;
}

.color-input {
  display: inline-block;
  width: 120px;
  font-size: 24px;

  input {
    display: block;
    height: 80px;
    width: 80px;
    border-radius: 5px;
    font-size: 24px;
    text-align: center;
    margin: auto;
  }

  label {
    display: block;
    text-align: center;
  }
}

.hex {
  font-size: 24px;
  margin: 30px auto;
  width: 200px;

  .hex-color-input {
    text-align: center;
  }

  input {
    display: block;
    height: 80px;
    width: 200px;
    border-radius: 5px;
    font-size: 24px;
    text-align: center;
    margin: auto;
  }

  label {
    text-align: center;
  }
}

.swatch-panel {
  margin: 20px auto;
  .swatch {
    height: 200px;
    width: 200px;
    border: 1px solid #C4C4C4;
    border-radius: 5px;
  }
}

.rgb {
}
