<div class="notorious-rgb-container" style="background-color: rgba({{red}},{{green}},{{blue}},0.5)">
  <div class="color-converter-panel">
    <div class="jumbotron">
      <h1>R.G.B. to Hex Converter</h1>
      <h2>(Hex to R.G.B. Converter)</h2>
    </div>
    {{color-converter action="colorChanged"}}

    <div class="footer">
      &copy; 2015 Lauren Ellsworth<br>
      <a href="http://www.thefourthparty.com">Website</a>
    </div>
  </div>
</div>
