<div class="jumbotron">
  <h1>R.G.B. to Hex Converter</h1>
  <h2>(Hex to R.G.B. Converter)</h2>
</div>
{{color-converter}}

<div class="footer">
  &copy; 2015 Lauren Ellsworth<br>
  <a href="http://www.thefourthparty.com">Website</a>
</div>
